.aboutContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    position: relative;
    top : 100px;
    left: 100px;
}

.aboutContainer > h1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.skipTo {
    padding: 10px;
    height: 90vh;
    overflow: scroll;
    position: fixed;
    top : 100px
}

.skipTo > h4 {
    margin-top: 25px;
}